%h1 Users#show
%p Find me in app/views/users/show.html.haml
%h1= link_to "User's links", links_path(:user_id => @user.id)

- @user.links.each do |link|
  = link_to link.title, link.url
  -if current_user && current_user.id == link.user_id
    = link_to "Edit", edit_link_path(link)
  %br