%h1 Edit Link

=form_for @link do |l|
  - if @link.errors.any?
    #error_explanation
      - @link.errors.full_messages.each do |msg|
        = msg
  %p Title:
  = l.text_field :title
  %p URL: 
  = l.text_field :url
  = l.submit