/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 .well {
   background: #FFFFF0;
   font-family: "Times New Roman";
 }
 
 a:link {
   color: #9400D3;
 }
 
 textarea {
   width: 200px;
   height: 50px;
 }
 
 #comment {
   width: 300px;
   border-style: solid;
   border-width: 1px;
   background: #FFFFF0;
   padding: 10px;
 }
 